/* .v-application,
.v-app-bar.v-toolbar {
    background: unset !important
}

.v-list-subheader,
.v-list-item-title {
    color: white !important;
}

nav .v-list .v-list-item--active {
    background: #ffffff14;
    border-radius: .5rem;
} */


/* .v-app-bar.v-toolbar {
    background: rgb(var(--v-theme-appbar));
    color: rgba(var(--v-theme-on-appbar), var(--v-high-emphasis-opacity));
} */